{% extends 'base.html' %}

{% block content %}

{% for messages in get_flashed_messages() %}
	
 <div class="alert alert-success alert-dismissible fade show" role="alert">
 
  	{{ messages }}
 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>

{% endfor %}

	<H1> Hello Cruel World!!</H1>

	<p> This is the first POS Web Page!!!</p>

	{% for slice in fav_pizza %}

		  {% if slice|int %}
		  	<h3>{{ slice + 500 }}</h3>
		  {% else %}  
		 	<h3> {{ slice }} </h3>
		  {% endif %}

	 {% endfor %}

<hr>

{{ fav_pizza.3 + 10 }}

{% endblock %}