{% extends 'base.html' %}

{% block content %}

{% for messages in get_flashed_messages() %}
	
 <div class="alert alert-success alert-dismissible fade show" role="alert">
 
  	{{ messages }}
 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

</div>

{% endfor %}

	<H1> Hello Cruel World!!</H1>

	<p> This is the first POS Web Page!!!</p>

{% if users %}
	
	<!--- <h1> User Added</h1> -->

	<table class="table table-bordered table-hover table-striped">

		{% for user in users %}
			<tr>
				<td>
				{{ user.id }}. {{ user.name 
				}} - {{ user.email }} <br/>
				</td>
			</tr>

		{% endfor %}

	</table>

	 <hr>

{% endif %}

{% endblock %}